//Copyright (C)2014-2022 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.07 Education
//Part Number: GW2A-LV18PG256C8/I7
//Device: GW2A-18C
//Created Time: Wed 08 24 17:52:50 2022

IO_LOC "siwu_n" K13;
IO_PORT "siwu_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "oe_n" G11;
IO_PORT "oe_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "wr_n" K11;
IO_PORT "wr_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "rd_n" T12;
IO_PORT "rd_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "data[7]" K12;
IO_PORT "data[7]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "data[6]" L13;
IO_PORT "data[6]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "data[5]" R11;
IO_PORT "data[5]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "data[4]" P11;
IO_PORT "data[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "data[3]" G16;
IO_PORT "data[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "data[2]" H16;
IO_PORT "data[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "data[1]" K16;
IO_PORT "data[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "data[0]" K15;
IO_PORT "data[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "debug" N7;
IO_PORT "debug" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
IO_LOC "clk" J12;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "capture[6]" R13;
IO_PORT "capture[6]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "txe_n" H12;
IO_PORT "txe_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "capture[4]" F13;
IO_PORT "capture[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "capture[7]" R12;
IO_PORT "capture[7]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "rxf_n" H13;
IO_PORT "rxf_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "capture[5]" M15;
IO_PORT "capture[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "capture[3]" J16;
IO_PORT "capture[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "capture[2]" G14;
IO_PORT "capture[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "capture[1]" F14;
IO_PORT "capture[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "capture[0]" E15;
IO_PORT "capture[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
